<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/fragments :: headTags}"></div>
    <title>Cars</title>
</head>

<body>

    <header>
        <nav th:replace="~{fragments/fragments :: navbar('optionals')}"></nav>
    </header>

    <main class="p-3">
        <div class="container text-center mt-3">
            <h1>Cars Optionals</h1>
            <a th:href="@{/optionals/create/}" class="btn btn-primary">create</a>
        </div>

        <section class="optionals container mt-4">
            <div class="col-12 p-4 m-auto">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="optional : *{optionals}">

                            <td>[[*{name}]]</td>
                            <td><a th:href="@{'/optionals/edit/' + *{id}}" class="btn btn-success">Edit optional</a>
                            </td>
                            <td><!-- Bottone che triggera la modale -->
                                <button type="button" class="btn btn-danger px-4" data-bs-toggle="modal"
                                    th:data-bs-target="'#modal-' + *{id}">
                                    X
                                </button>

                                <!-- Modale -->
                                <div class="modal fade" th:id="'modal-' + *{id}" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel-[[*{id}]]"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" th:id="'modalLabel-' + *{id}">
                                                    Delete car [[*{model}]]
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete the car: [[*{model}]]?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <form th:action="@{/pizze/delete/{id}(id=*{id})}" method="post">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <div th:replace="~{fragments/fragments :: scripts}"></div>

</body>

</html>