* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  color: #343a40;
}

.navbar {
  background-color: #212529;
}

.navbar .nav-link,
.navbar-brand {
  color: white;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #ff3c38;
}

.car-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  border-radius: 12px;
  position: relative;
}

.card-img-top {
  border-radius: 12px 12px 0 0;
  width: 100%;
}

.car-card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.btn-car {
  background-color: #ff8438;
  color: white;
}

.btn-car:hover {
  background-color: #d9322f;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #f8f9fa;
}